.imgclass1{
    height: 23vh;
    width: auto;
    margin: auto;
    display: block;
}
.imgclass2{
    height: 7vh;

}
img{
    height: 23vh;
    width: auto;
    margin: auto;
    display: block;
  }