ion-button {
    --background: #B3E9FE;
    --color:  #050505;
    font-size: 100%;
    font-weight: 750;
    }
    .imgclass1{
        height: 23vh;
        width: auto;
        margin: auto;
        display: block;
    }
    .imgclass2{
        height: 7vh;
    
    }
    img{
        height: 23vh;
        width: auto;
        margin: auto;
        display: block;
      }
      ion-title{
        background-color: rgb(32, 32, 32);
        color: white;
      }
      ion-content{

        --background: rgb(32, 32, 32);
      }

    